@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}
}

:root {
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}
